# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.2025-Sep-QSmart.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/encodings.xml

# Visual Studio / .NET
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Resharper
_ReSharper*/
*.DotSettings.user

# Others
*.log
*.vspscc
*.vssscc
TestResults/
*.cache
